
#BoxNovoBotao2{
      position: absolute;
      margin: 3%;
      margin-left: 46%;
      z-index: 100
}

#thirthColuna{
  position: absolute;
  right: 353%;
  width: 50%;
  background-color: green;

}
